<%= render 'header' %>

<% if @user %>
	<p><%= @user.name %> </p>
	<table>
	<% @user.speech.each do |s| %>
		<tr>
			<td> <%= link_to s, s %> </td>
			<td> <%= link_to "delete", s, method: "delete"%> </td>
		</tr>
	<% end %>
	</table>
<% end %>
